.header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}
.logo {
  width: 100px;
}

.navItems > ui {
  display: flex;
}

.navItems > ui > li {
  padding: 10px;
  margin: 10px;
  list-style: none;
}

.search {
  padding: 10px;
}

.res-card {
  padding: 10px;
  width: 200px;
  height: 350px;
  border-radius: 5px;
  margin: 10px;
  background-color: #fefefe;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
}

.res-card:hover {
  border: 1px solid black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.res-logo {
  width: 190px;
}
